.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/
*.cache
*.log
*.pdb
*.mdb
*.class
*.dll
*.exe
*.nuget.props
*.nupkg
publish/
/.idea/
.vscode/
.DS_Store
/.sass-cache/
node_modules/
dist/
coverage/
*.db
appsettings.*.Local
STUDIO-COMPLETO.MD
GUIDA_STUDIO.md